@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&family=Raleway&display=swap');

body{
	font-family: 'Raleway', sans-serif;
	background-color: #4EA7C0;
	color: #010013; 
	margin: 0vh;
}

h2{
	font-family: 'Merriweather Sans', sans-serif;
}
#mhs_roundsquare
{
	border-radius: 50px;
}

#p1_border{
  border: 4px dashed #c0c0c0;
  border-radius: 1px;
  padding: 0px;

  width: 400px;
}

#p2_border{
  border: 5px dotted #c0c0c0;
  border-radius: 6px;
  padding: 0px;

  width: 400px;
}

main
{
	padding: 10px;
}

img {
	padding-top: 10px;
}

hr {
  height: 2px;
  background-color: #FD8912;
  border: none;
}

.first_hr{
	border-top: 10px dotted;
	border-color: white;
	background-color: transparent;
	padding: 5px;
}

.foot{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


main {
  position: relative;
  min-height: 100px;
}


.center{
	  text-align: center;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #010013;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Add a background color to the top navigation */
nav {
  background-color: #FD8912;
  overflow: hidden;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: blue;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
  color: white;
}


